body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0 0,5em;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 6vw;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 7em 2em 2em;
    margin-top: 1em;
    margin-bottom: 2em;
}

section {
    background-color: white;
    padding: 2em;
    margin: 2em 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container {
    display: flex;
    align-items: flex-start;
}

.profile-photo {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    flex: 1;
}

.profile-forms {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    /* padding: 1em 0; */
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

form label {
    margin-top: 10px;
}

form input {
    padding: 8px;
    margin-top: 5px;
}

form button {
    padding: 10px;
    margin-top: 15px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

form.delete-account {
    margin-top: 20px;
}

form.delete-account button {
    background-color: red;
}

.notification {
    background-color: #ffcccc;
    color: #990000;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    position: absolute;
    bottom: -30px;
    /* Ensure it appears just below the header */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border-radius: 5px;
}

.alert {
    background-color: #f44336;
    color: white;
    text-align: center;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}

th {
    background: #4CAF50;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}

th,
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
table a{
    color: black;
    /* text-decoration: none; */
    font-weight: bold;
}

th:first-child,
td:first-child {
    text-align: left;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

td {
    padding: 10px 20px;
    background: #F8E391;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr td:last-child {
    border-right: none;
}

/* Styles for the chat box */
#chat-box {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.message-wrapper {
    display: flex;
    align-items: flex-end;
    margin: 10px 0;
}

.sent {
    justify-content: flex-end;
}

.received {
    justify-content: flex-start;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.message {
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.sent .message {
    background-color: #d1ffd1;
    align-self: flex-end;
}

.received .message {
    background-color: #d1e0ff;
    align-self: flex-start;
}

.timestamp {
    display: block;
    font-size: 0.8em;
    color: #888;
    margin-top: 5px;
}

.chat-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-group {
    display: flex;
    width: 100%;
}

.chat-form textarea {
    resize: none;
    padding: 10px;
    flex: 1;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    margin: 1em 0 1em 0;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
/* Styles for the chat header */
.chat-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.back-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    text-decoration: none;
    margin-right: 10px;
}

.back-button:hover {
    background-color: #45a049;
}

.icon-button {
    padding: 0 10px 0 10px;
}

/* Styles for the chat box */
#chat-box {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.message-wrapper {
    display: flex;
    align-items: flex-end;
    margin: 10px 0;
}

.sent {
    justify-content: flex-end;
}

.received {
    justify-content: flex-start;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.message {
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.sent .message {
    background-color: #d1ffd1;
    align-self: flex-end;
}

.received .message {
    background-color: #d1e0ff;
    align-self: flex-start;
}

.timestamp {
    display: block;
    font-size: 0.8em;
    color: #888;
    margin-top: 5px;
}

.chat-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-group {
    display: flex;
    width: 100%;
}

.chat-form textarea {
    resize: none;
    padding: 10px;
    flex: 1;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.chat-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-form button:hover {
    background-color: #45a049;
}



select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

.icon-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.form-row {
    display: flex;
    align-items: center;
}

.form-row input {
    flex: 1;
    margin-right: 10px;
}

.form-row .icon-button {
    margin-left: 5px;
}


/* Стили для навигации */
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    position: relative;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}
