{% extends "base.html" %}

{% block title %}Чат - Music School Diary{% endblock %}

{% block content %}
<div class="chat-header">
    <a href="{{ url_for('common.chat_list') }}" class="back-button">&#8592;</a>
    <h2>{{ recipient_name }}</h2>
</div>

<div id="chat-box">
    {% for message in messages %}
        <div class="message-wrapper {% if message.sender_id == session.user_id %}sent{% else %}received{% endif %}">
            {% if message.sender_id != session.user_id %}
                <div class="avatar">
                    <img src="{{ url_for('static', filename='images/avatar-placeholder.png') }}" alt="Avatar">
                </div>
            {% endif %}
            <div class="message">
                <p>{{ message.msg }}</p>
                <span class="timestamp">{{ message.submission_date }}</span>
            </div>
        </div>
    {% endfor %}
</div>

<form method="post" class="chat-form">
    <div class="input-group">
        <textarea name="message" required></textarea>
        <button type="submit">Відправити</button>
    </div>
</form>
{% endblock %}
