{% extends "base.html" %}

{% block title %}Таблиця Students - Music School Diary{% endblock %}

{% block content %}

<button onclick="toggleForm()">Додати нового студента</button>
<form id="addStudentForm" style="display:none; width: 30%;" method="POST">
    <div class="form-row">
        <select name="user_id" required style="margin: 5px;">
            <option value="" disabled selected>Виберіть користувача</option>
            {% for user in available_users %}
            <option value="{{ user.user_id }}">{{ user.user_id }}: {{ user.name }}</option>
            {% endfor %}
        </select>
        <select name="group_id" required style="margin: 5px;">
            <option value="" disabled selected>Виберіть групу</option>
            {% for group in available_groups %}
            <option value="{{ group.group_id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="icon-button" style="color: green;">&#10004;</button>
        <button type="button" class="icon-button" style="color: red;" onclick="toggleForm()">&#10008;</button>
    </div>
</form>
<table>
    <thead>
        <tr>
            {% for column in columns %}
            <th>{{ column }}</th>
            {% endfor %}
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            {% for column in columns %}
            <td>{{ row[column] }}</td>
            {% endfor %}
            <td>
                <form method="POST" action="{{ url_for('tables.delete_student') }}">
                    <input type="hidden" name="student_id" value="{{ row['student_id'] }}">
                    <button type="submit" class="delete-button" onclick="return confirm('Ви впевнені, що хочете видалити цю запис?');">Видалити</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<script>
function toggleForm() {
    var form = document.getElementById("addStudentForm");
    if (form.style.display === "none") {
        form.style.display = "flex";
    } else {
        form.style.display = "none";
    }
}
</script>
{% endblock %}
