{% extends "base.html" %} {% block title %}Головна - Music School Diary{%
endblock %} {% block content %}
<section>
  <h2>Завдання</h2>
  <p>
    Розглянути існуючі розробки схожого спрямування та розробити програму для
    онлайн-щоденника музичної школи. Додаток буде спрямований на поліпшення
    взаємодії між учнями, вчителями та батьками, а також на ефективне ведення
    записів про уроки та прогрес учнів.
  </p>
</section>
<section>
  <h2>Опис проекту</h2>
  <p>
    <strong>Цільова аудиторія:</strong> Учні музичної школи, вчителі та батьки.
  </p>
  <p>
    <strong>Мета додатку:</strong> Забезпечити зручний і ефективний спосіб
    ведення онлайн-щоденника для відстеження уроків, прогресу та комунікації між
    учнями, вчителями та батьками.
  </p>
</section>
<section>
  <h2>Функціонал додатку</h2>
  <ul>
    <li>Створення профілів для учнів, вчителів та батьків.</li>
    <li>
      Можливість ведення щоденника з відмітками про уроки, домашні завдання та
      досягнення.
    </li>
    <li>
      Можливість виставлення оцінок та коментарів вчителями до робіт учнів.
    </li>
    <li>Відображення розкладу занять для учнів та вчителів.</li>
    <li>
      Чат або повідомлення для спілкування між учнями, вчителями та батьками.
    </li>
    <li>Система сповіщень про події, оцінки, або інші важливі повідомлення.</li>
  </ul>
</section>
{% endblock %}
