<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Music School Diary{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
                <a href="/">
                    <h1>Music School Diary</h1>
                </a>
            </div>
            <nav>
                <ul>
                    {% if session.get('user_id') %}
                    <li><a href="{{ url_for('common.news') }}">Новини</a></li>
                        {% if session.get('role') == 'admin' %}
                            <li><a href="#">для адміну</a></li>
                        {% elif session.get('role') == 'teacher' %}
                            <li><a href="{{ url_for('teacher.teacher_schedule') }}">Розклад груп</a></li>
                            <li><a href="{{ url_for('teacher.my_subject') }}">Мій предмет</a></li>
                            <li><a href="{{ url_for('teacher.homeworks') }}">Завдання</a></li>
                        {% elif session.get('role') == 'student' %}
                            <li><a href="{{ url_for('student.student_schedule') }}">Розклад занять</a></li>
                            <li><a href="{{ url_for('student.student_homework') }}">Домашні завдання</a></li>
                        {% elif session.get('role') == 'parent' %}
                            <li><a href="{{ url_for('parent.parent_grades') }}">Оцінки дітей</a></li>
                        {% endif %}
                            <li><a href="{{ url_for('common.chat_list') }}">Чат</a></li>
                            <li><a href="{{ url_for('common.profile') }}">Профіль</a></li>
                            <li><a href="{{ url_for('common.logout') }}">Вихід</a></li>
                        {% else %}
                            <li><a href="{{ url_for('common.register') }}">Реєстрація</a></li>
                            <li><a href="{{ url_for('common.login') }}">Вхід</a></li>
                            <li><a href="{{ url_for('common.users') }}">[t]Користувачі</a></li>
                        {% endif %}
                        
                </ul>
            </nav>
        </div>
        {% if session['role'] == 'user' %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span> 
            <p>Аккаунт не підтверджений</p>
        </div>
        {% endif %}
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Music School Diary. Всі права захищені.</p>
    </footer>
</body>
</html>
